<div class="container-fluid">
  <img class="pic" src="assets/contact.jpg" alt="pizzeria">
  <h1>Contact Us!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut giat nulla pariatur. Excepteur sint occaec</p>
  <hr>
  <p> contact@pizzafuti3000.com</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut giat nulla pariatur. Excepteur sint occaec</p>
</div>