<header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

  <a class="navbar-brand" routerLink="">PizzaFuti3000</a>

  <button aria-controls="navbarContent" aria-expanded="true" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"
    type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pizzalist">Pizza List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Info</a>
      </li>
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
        </div>
      </li>
    </ul>
  </div>
</header>


<!-- User NOT logged in -->
<ng-template #guest>
  <div>
    <a class="nav-link" routerLink="/signin">Sign In</a>
  </div>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
  <div class="row" *ngIf="auth.user | async as user">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ user.displayName }}
          <img class="profpic" alt="profile picture" [src]="user.photoURL">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" routerLink="/profile">My profile</button>
          <button class="dropdown-item" (click)="auth.signOut()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>